@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cedarville+Cursive&family=Oooh+Baby&display=swap');

$screen-xs-min: 768px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

:root {
  --dark-purple: #1b1b3a;
  --light-purple: #693668;
  --pink: #a74482;
  --dark-red: #972529;
  --dark-blue: #1d3354;
  --white: #fff;
}

html,
body {
  height: 100%;
  background-color: var(--dark-blue) !important;
  background: url(/img/cream-pixels.png);
}

.main {
  padding: 25px;

  .hero-text {
    object {
      width: 100%;
      max-height: 75vh;
    }
  }

  .tag-text {
    font-family: 'Arvo', serif;
    color: var(--white);
    text-align: center;
    margin-top: 100px;
  }
}
